@font-face { font-family: 'Malssami815'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Malssami815.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Cafe24Simplehae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'TmonMonsori'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-1Thin'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'LotteMartHappy'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff'); } 
@font-face { font-family: 'LotteMartHappy'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff'); } .lottemarthappy * { font-family: 'LotteMartHappy', sans-serif; }
@font-face { font-family: 'Cafe24Ohsquare'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff'); font-weight: normal; font-style: normal; }

body::-webkit-scrollbar { width: 12px;} /* 스크롤 바 */
body::-webkit-scrollbar-track {background: #fff;} /* 스크롤 바 밑의 배경 */
body::-webkit-scrollbar-thumb {width: 12px; height: 16px; border-radius: 6px; background: #666; } /* 실질적 스크롤 바 */
body::-webkit-scrollbar-thumb:hover { background: #404040; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
body::-webkit-scrollbar-thumb:active { background: #808080; } /* 실질적 스크롤 바를 클릭할 때 */
body::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */

/*pageYOffset */
.pageYOffset {position: fixed; right: 10px; top: 10px; width: 40px; height: 40px; 
background: rgba(0,0,0,0.3); color: #fff; line-height: 40px; text-align: center; z-index: 10000;}

/* loading */
.progress{position: fixed; left: 0; top: 0; z-index: 99999; width: 100%; height: 100vh; background: #eee8d5; z-index: 20000;}
.progress-text{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 6vw; font-family: 'S-CoreDream-2ExtraLight'; color: #fff; z-index: 20500;}
.porgress-ani {position: relative; width: 100%; height: 100vh; z-index: 20300;}
.porgress-ani .container {width: 30vw; height: 30vw; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.porgress-ani .container .circle_wrap {position: relative; width: 30vw; height: 30vw;}
.porgress-ani .container .circle_wrap .circle {position: absolute; width: 7vw; height: 7vw; border-radius: 50%;
    animation: mov_circle 1s infinite ease-in-out; -webkit-animation: mov_circle 1s infinite ease-in-out; -o-animation: mov_circle 1s infinite ease-in-out; -moz-animation: mov_circle 1s infinite ease-in-out;
}
.porgress-ani .container .circle_wrap .circle1 {position: absolute; background: rgba(47, 139, 193, 0.6); left: 0vw; top: 3vw; -webkit-animation-delay: 1200ms; animation-delay: 1200ms;}
.porgress-ani .container .circle_wrap .circle2 {position: absolute; background: rgba(255, 179, 26, 0.6); left: 4vw; top: 7.5vw; width: 5vw; height: 5vw; -webkit-animation-delay: 300ms; animation-delay: 300ms;}
.porgress-ani .container .circle_wrap .circle3 {position: absolute; background: rgba(17, 158, 94, 0.6); right: 7vw; top: 4vw; -webkit-animation-delay: 600ms; animation-delay: 600ms;}
.porgress-ani .container .circle_wrap .circle4 {position: absolute; background: rgba(236, 133, 115, 0.6); right: 1vw; top: 2vw; width: 10vw; height: 10vw; -webkit-animation-delay: 900ms; animation-delay: 900ms; -webkit-animation-duration: 1.5s; animation-duration: 1.5s;}
.porgress-ani .container .circle_wrap .circle5 {position: absolute; background: rgba(114, 73, 152, 0.6); left: 5vw; top: 5vw; width: 20vw; height: 20vw; -webkit-animation-delay: 0ms; animation-delay: 0ms; -webkit-animation-duration: 1.2s; animation-duration: 1.2s;}
@keyframes mov_circle {
    0% {-webkit-transform: scale(0.5); opacity: 0}
    20% {-webkit-transform: scale(.7); opacity: 1}
    93% {-webkit-transform: scale(1); opacity: 1}
    99% {-webkit-transform: scale(2); opacity: 0}
    100% {-webkit-transform: scale(1); opacity: 0}
}


/* layout */
#cover    {position: relative; height: 100vh; overflow: hidden; z-index: 10000; background: #724998;}
#contents {overflow: hidden;}
#section1 {width: 100vw; height: 15000px; overflow: hidden; z-index: 9000; background: #ec8573;}
#section2 {width: 100vw; position: relative; height: 9000px; overflow: hidden; z-index: 8000;}
#section3 {width: 100vw; height: 10000px; overflow: hidden; z-index: 7000; background: #119e5e;}
#section4 {width: 100vw; height: 11000px; overflow: hidden; z-index: 6000; background: #2f8bc1;}
#section5 {width: 100vw; position: relative; height: 9000px; overflow: hidden; z-index: 5000; background: #724998;}
#section6 {width: 100vw; position: relative; height: 10000px; overflow: hidden; z-index: 6000; background: #ffb31a;}


/* header */
#header {position: fixed; left: 2vw; top: 20px; z-index: 100000; overflow: hidden;}
#header h1 {font-size: 2vw; color: rgb(255, 255, 255); font-family: 'S-CoreDream-2ExtraLight';}

/* menu */
.menu_wrap {position: relative; z-index: 20000;}
.menu_wrap .menu1 {position: absolute; left: 0px; top: 50%; transform: translate(0vw, -40vh);}
.menu_wrap .menu2 {position: absolute; left: 0px; top: 50%; transform: translate(0, -37vh);}
.menu_wrap .menu3 {position: absolute; left: 0px; top: 50%; transform: translate(0, -34vh);}
.menu_wrap .menu4 {position: absolute; left: 0px; top: 50%; transform: translate(0, -31vh);}
.menu_wrap .menu5 {position: absolute; left: 0px; top: 50%; transform: translate(0, -28vh);}

.menu_wrap .menu {position: relative; width: 30vw; height: 5vh;}
.menu_wrap .menu .circle {position: absolute; width: 0.8vw; height: 0.8vw; left: 0px; top: 50%; transform: translate(0, -50%); border-radius: 50%; background: #fff;}
.menu_wrap .menu .text {position: absolute; width: 1vw; height: 3px; left: 0.3vw; top: 50%; transform: translate(0, -50%); background: #fff;}
.menu_wrap .menu .text a {position: absolute; width: 5vw; height: 3vh; left: 0.9vw; top: 50%; transform: translate(0, -50%); font-size: 0.8vw; text-align: center; line-height: 3vh; border: 2px solid #fff; border-radius: 0.3vw; color: #fff; font-weight: bold; font-family: 'S-CoreDream-2ExtraLight'; opacity: 1;}

.menu_wrap .line1 {position: absolute; width: 0.4vw; height: 62vh; left: 50%; top: 50%; transform: translate(0, -40vh); border-radius: 0.3vw; background: #fff; z-index: 21000;}
.menu_wrap .line2 {position: absolute; width: 0.4vw; height: 62vh; left: 50%; top: 50%; transform: translate(0, -40vh); border-radius: 0.3vw; background: #fff; opacity: 0.5;}

/* cover */
.cover {position: relative; width: 100vw; height: 100vh;}
.cover h1 {position: absolute; width: 100vw; height: 100vh; font-size: 7vw; text-align: center; line-height: 100vh; color: #fff; font-family: 'S-CoreDream-2ExtraLight';}


/* sec1 */
.sec1 {text-align: center; background: rgb(236, 133, 115);}
.sec1 .text-wrap {padding-top: 40vh; font-size: 8vw; font-family: 'Malssami815'; color: #fff;}
.sec1 .text-wrap .text1 {position: relative; display: inline-block; z-index: 9900;}

/* text2 */
.sec1 .text-wrap .text2 { width: 70vw;
  font-size: 10vw; position: relative; display: inline-block; z-index: 9800;
}
.sec1 .text-wrap .text2 .wp { position: relative;}
.sec1 .text-wrap .text2 .wp .circle1 {
  position: absolute; top: 1vw; left: 30.5vw;
  width: 1vw; height: 1vw; background: #fff; border-radius: 50%;
}
.sec1 .text-wrap .text2 .wp .circle2 {
  position: absolute; top: 9vw; left: 36.25vw;
  width: 1vw; height: 1vw; background: #fff; border-radius: 50%;
  
}
.sec1 .text-wrap .text2 .wp .line {
  position: absolute; left: 0; bottom: 0; 
  width: 100%; height: 0.5vw; background: #fff;
  border-radius: 5px;
}
/* text3 */
.sec1 .text-wrap .text3 {
 position: relative; display: inline-block; z-index: 9700;
}
.sec1 .text-wrap .text3 .circle1 {
  position: absolute; top: 2.2vw; left: 2.8vw;
  width: 1vw; height: 1vw; background: #fff; border-radius: 50%;
}
.sec1 .text-wrap .text3 .circle2 {
  position: absolute; top: 2.5vw; left: 8vw;
  width: 1vw; height: 1vw; background: #fff; border-radius: 50%;
}
.sec1 .text-wrap .text3 .circle3 {
  position: absolute; top: 2vw; left: 16.7vw;
  width: 1vw; height: 1vw; background: #fff; border-radius: 50%;
}
.sec1 .text-wrap .text3 .circle4 {
  position: absolute; top: 2.2vw; left: 22.2vw;
  width: 1vw; height: 1vw; background: #fff; border-radius: 50%;
}
.sec1 .text-wrap .text3 .line {
  position: absolute; left: 0; bottom: 0; 
  width: 100%; height: 0.5vw; background: #fff;
  border-radius: 5px;
}
/* text4 */
.sec1 .text-wrap .text4 {
  position: relative; display: inline-block; z-index: 9600;
}
.sec1 .text-wrap .text4 > span {display: inline-block;}
/* text5 */
.sec1 .text-wrap .text5 { background: rgb(236, 133, 115);
  width: 60vw; height: 60vw; border-radius: 50% ;
  text-align: center; line-height: 63vw;
  position: relative; display: inline-block; font-size: 10vw; z-index: 9500;
}
.sec1 .text-wrap .text5 .name {position: relative;}
.sec1 .text-wrap .text5 .name .line1 {
  position: absolute; left: 0; top: -1vw; 
  width: 100%; height: 0.5vw; background: #fff;
  border-radius: 5px;
}
.sec1 .text-wrap .text5 .name .line2 {
  position: absolute; left: 0; bottom: 0; 
  width: 100%; height: 0.5vw; background: #fff;
  border-radius: 5px;
}

/* section2 */
.sec2 {position: relative; width: 100vw; height: 100vh; background-repeat: repeat; background-color: #eee8d5; background-image: linear-gradient(to bottom, transparent, transparent 10%, #eee8d5 10%), linear-gradient(to right, #000, #000 10%, #eee8d5 10%); background-size: 10px 10px;}
.sec2 .title {position: absolute; left: 12vw; top: 5vh; font-size: 9vw; color: #243059; font-family: 'Malssami815'; z-index: 8650;}

.sec2 .ability_wrap1 {position: relative; width: 100vw; height: 100vh;}
.sec2 .ability_wrap1 .img {position: absolute; width: 17vw; height: 36vw; left: 50%; top: 50%; transform: translate(-170%, -32%); background: url(../img/about1.png) no-repeat; background-size: cover; z-index: 8750;}
.sec2 .ability_wrap1 .bg_wrap .bg1 {position: absolute; width: 0; height: 0; border-bottom: 200vh solid #fcf4cf; border-left: 200vw solid transparent; right: 0; bottom: 0; z-index: 8500;}
.sec2 .ability_wrap1 .bg_wrap .bg2 {position: absolute; width: 0; height: 0; border-bottom: 140vh solid #fff18e; border-left: 140vw solid transparent; right: 0; bottom: 0; z-index: 8600;}
.sec2 .ability_wrap1 .bg_wrap .bg3 {position: absolute; width: 0; height: 0; border-bottom: 110vh solid #ffdf44; border-left: 110vw solid transparent; right: 0; bottom: 0; z-index: 8700;}
.sec2 .ability_wrap1 .bg_wrap .bg4 {position: absolute; width: 0; height: 0; border-bottom: 80vh solid #fac831; border-left: 80vw solid transparent; right: 0; bottom: 0; z-index: 8800;}
.sec2 .ability_wrap1 .bg_wrap .bg5 {position: absolute; width: 0; height: 0; border-bottom: 50vh solid #fab91d; border-left: 50vw solid transparent; right: 0; bottom: 0; z-index: 8900;}
.sec2 .ability_wrap1 .text_wrap {position: relative; width: 38vw; height: 50vh; background: #fab91d; z-index: 8850;}
.sec2 .ability_wrap1 .text_wrap .text {position: absolute; width: 30vw; left: 50%; top: 50%; text-align: justify;  transform: translate(-50%,-50%); z-index: 8850;}
.sec2 .ability_wrap1 .text_wrap .text > span {font-size: 1.8vw; font-weight: bold; color: #fff; font-family: 'Cafe24Simplehae'; z-index: 8850;}
.sec2 .ability_wrap1 .text_wrap .text > span > em {font-weight: bold; color: #fff;}

.sec2 .ability_wrap2 {position: relative; width: 100vw; height: 100vh;}
.sec2 .ability_wrap2 .img {position: absolute; width: 20vw; height: 32vw; left: 50%; top: 50%; transform: translate(-150%, -30%); background: url(../img/about2.png) no-repeat; background-size: cover; z-index: 8250;}
.sec2 .ability_wrap2 .bg_wrap {position: relative; width: 100vw; height: 100vh;}
.sec2 .ability_wrap2 .bg_wrap .bg1 {position: absolute; width: 0; height: 0; border-bottom: 200vh solid #d1def0; border-left: 200vw solid transparent; right: 0; bottom: 0; z-index: 8000;}
.sec2 .ability_wrap2 .bg_wrap .bg2 {position: absolute; width: 0; height: 0; border-bottom: 140vh solid #acc1df; border-left: 140vw solid transparent; right: 0; bottom: 0; z-index: 8100;}
.sec2 .ability_wrap2 .bg_wrap .bg3 {position: absolute; width: 0; height: 0; border-bottom: 110vh solid #89a1d7; border-left: 110vw solid transparent; right: 0; bottom: 0; z-index: 8200;}
.sec2 .ability_wrap2 .bg_wrap .bg4 {position: absolute; width: 0; height: 0; border-bottom: 80vh solid #4a76c2; border-left: 80vw solid transparent; right: 0; bottom: 0; z-index: 8300;}
.sec2 .ability_wrap2 .bg_wrap .bg5 {position: absolute; width: 0; height: 0; border-bottom: 50vh solid rgb(60, 78, 133); border-left: 50vw solid transparent; right: 0; bottom: 0; z-index: 8400;}
.sec2 .ability_wrap2 .text_wrap {}
.sec2 .ability_wrap2 .text_wrap .text {display: inline; font-family: 'TmonMonsori'; text-transform: uppercase; font-size: 3vw; -webkit-text-fill-color: #fff; -webkit-text-stroke: 1px rgb(60, 78, 133); font-weight: bold;}
.sec2 .ability_wrap2 .text_wrap .text1 {position: absolute; left: 50%; top: 50%; transform: translate(3.5vw, -16vh); z-index: 8250;}
.sec2 .ability_wrap2 .text_wrap .text2 {position: absolute; left: 50%; top: 50%; transform: translate(3.5vw, -4vh); z-index: 8250;}
.sec2 .ability_wrap2 .text_wrap .text3 {position: absolute; left: 50%; top: 50%; transform: translate(3.5vw, 8vh); z-index: 8350;}
.sec2 .ability_wrap2 .text_wrap .text4 {position: absolute; left: 50%; top: 50%; transform: translate(3.5vw, 20vh); z-index: 8350;}

/* section3 */
.sec3 {position: relative;}
.sec3 .site_wrap {position: relative;width: 100vw; height: 100vh; position: relative; overflow: hidden; z-index: 7000;}
.sec3 .site_wrap .site0 {position: relative; float: left; width: 100vw; height: 100vh; color: #fff; background-repeat: repeat; background-color: #00a863; background-image: linear-gradient(to bottom, transparent, transparent 10%, #00a863 10%), linear-gradient(to right, #000, #000 10%, #00a863 10%); background-size: 10px 10px; z-index: 7100;}
.sec3 .site_wrap .site0 .title {display: inline-block; position: relative; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 9vw; font-family: 'Malssami815'; color: #fff; z-index: 7100;}

.sec3 .site_wrap .site {position: relative; float: left; width: 100vw; height: 100vh; color: #fff; font-weight: bold; font-family: 'Poppins', sans-serif; background-repeat: repeat; background-color: #00a863; background-image: linear-gradient(to bottom, transparent, transparent 10%, #00a863 10%), linear-gradient(to right, #000, #000 10%, #00a863 10%); background-size: 10px 10px; z-index: 7100;}
.sec3 .site_wrap .site .img {display: inline-block; position: absolute; left: 50%; top: 50%; transform: translate(-115%,-50%); z-index: 7100;}
.sec3 .site_wrap .site2 .img {display: inline-block; position: absolute; left: 50%; top: 50%; transform: translate(-118%,-55%); z-index: 7100;}
.sec3 .site_wrap .site .img img {width: 30vw; height: 25vw;}

.sec3 .site_wrap .site .text_wrap {position: absolute; width: 50vw; height: 60vh; left: 50%; top: 50%; transform: translate(-15%,-50%);}
.sec3 .site_wrap .site2 .text_wrap {position: absolute; width: 50vw; height: 60vh; left: 50%; top: 50%; transform: translate(-10%,-50%);}
.sec3 .site_wrap .site .text_wrap .text {position: relative; width: 50vw; height: 60vh;}
.sec3 .site_wrap .site .text_wrap .text h2 {font-family: 'Poppins', sans-serif; font-weight: 900; position: absolute; right: 0; top: 0; font-size: 5vw; -webkit-text-fill-color: #fff; -webkit-text-stroke: 3px #0c693f; z-index: 7200;}
.sec3 .site_wrap .site .text_wrap .text h3 {font-family: 'Poppins', sans-serif; font-weight: 900; position: absolute; right: -0.3vw; top: 0.5vw; font-size: 5vw; -webkit-text-fill-color: transparent; -webkit-text-stroke: 2px #fff; z-index: 7100;}
.sec3 .site_wrap .site .text_wrap .text p {position: absolute; width: 35vw; right: 0; top: 50%; transform: translate(0%,-30%); text-align: justify; font-size: 1.3vw; font-family: 'S-CoreDream-2ExtraLight'; z-index: 7100;}
.sec3 .site_wrap .site .text_wrap .text .btn {font-family: 'LotteMartHappy', sans-serif;}
.sec3 .site_wrap .site .text_wrap .text .btn a {display: inline-block; width: 16vw; height: 3vw;  text-align: center; line-height: 3vw; border: 2px solid #fff; border-radius: 3px; font-size: 1.3vw; font-family: 'S-CoreDream-2ExtraLight'; color: #fff; z-index: 7100;}
.sec3 .site_wrap .site .text_wrap .text .btn a:hover {display: inline-block; width: 16vw; height: 3vw;  text-align: center; line-height: 3vw; border: 2px solid #fff; border-radius: 3px; font-size: 1.3vw; font-family: 'S-CoreDream-2ExtraLight'; color: #00a863; background: #fff; z-index: 7100;}
.sec3 .site_wrap .site .text_wrap .text .btn1 a {position: absolute; right: 19vw; bottom: 0; z-index: 7100;}
.sec3 .site_wrap .site .text_wrap .text .btn2 a {position: absolute; right: 0vw; bottom: 0; z-index: 7100;}

.sec3 .site_wrap .site .text_wrap .text .num {font-family: 'Poppins', sans-serif; font-weight: 100; position: absolute; left: 0%; top: 50%; transform: translate(-25%, -45%); font-size: 26vw; opacity: 0.1; z-index: 7050;}
.sec3 .site_wrap .site2 .text_wrap .text .num {position: absolute; left: 0%; top: 50%; transform: translate(-35%, -45%);}

/* line, circle position */
.sec3 .site_wrap .site0 .circle {position: absolute; left: 70vw; top: 50%; transform: translate(0vw, -1.4vh); width: 1vw; height: 1vw; background: #fff; border-radius: 50%; z-index: 7300;}
.sec3 .site_wrap .site1 .circle {position: absolute; left: -1vw; top: 50%; transform: translate(0vw, -12vh); width: 1vw; height: 1vw; background: #fff; border-radius: 50%; z-index: 7300;}
.sec3 .site_wrap .site2 .circle {position: absolute; left: -1vw; top: 50%; transform: translate(0vw, -12vh); width: 1vw; height: 1vw; background: #fff; border-radius: 50%; z-index: 7300;}
.sec3 .site_wrap .site3 .circle {position: absolute; left: -1vw; top: 50%; transform: translate(0vw, -12vh); width: 1vw; height: 1vw; background: #fff; border-radius: 50%; z-index: 7300;}

  /* site0 */
.sec3 .site_wrap .site0 .title {position: relative;}
.sec3 .site_wrap .site0 .title .line1 {position: absolute; right: -10%; top: -7%; width: 0.5vw; height: 57%; background: #fff;}
.sec3 .site_wrap .site0 .title .line2 {position: absolute; left: -10%; top: -7%; width: 120%; height: 0.5vw; background: #fff;}
.sec3 .site_wrap .site0 .title .line3 {position: absolute; left: -10%; top: -7%; width: 0.5vw; height: 107%; background: #fff;}
.sec3 .site_wrap .site0 .title .line4 {position: absolute; left: -10%; bottom: 0%; width: 120%; height: 0.5vw; background: #fff;}
.sec3 .site_wrap .site0 .title .line5 {position: absolute; right: -10%; bottom: 0%; width: 0.5vw; height: 57%; background: #fff;}
.sec3 .site_wrap .site0 .line6 {position: absolute; right: 0; top: 50%; transform: translate(0vw, -1vh); width: 29.5vw; height: 0.5vw; background: #fff;}

  /* site1 */
.sec3 .site_wrap .site1 .line1 {position: absolute; left: 0%; top: 50%; transform: translate(0vw, -1vh); width: 11.5vw; height: 0.5vw; background: #fff;}
.sec3 .site_wrap .site1 .line2 {position: absolute; left: 11vw; top: 50%; transform: translate(0vw, -35.5vh); width: 0.5vw; height: 35vh; background: #fff;}
.sec3 .site_wrap .site1 .line3 {position: absolute; left: 11vw; top: 50%; transform: translate(0vw, -35.5vh); width: 38vw; height: 0.5vw; background: #fff;}
.sec3 .site_wrap .site1 .line4 {position: absolute; left: 50%; top: 50%; transform: translate(-1vw, -35.5vh); width: 0.5vw; height: 24vh; background: #fff;}
.sec3 .site_wrap .site1 .line5 {position: absolute; right: 0%; top: 50%; transform: translate(0vw, -12vh); width: 51vw; height: 0.5vw; background: #fff;}
 
  /* site2 */
.sec3 .site_wrap .site2 .line1 {position: absolute; left: 0%; top: 50%; transform: translate(0vw, -12vh); width: 10vw; height: 0.5vw; background: #fff;}
.sec3 .site_wrap .site2 .line2 {position: absolute; left: 10vw; top: 50%; transform: translate(0vw, -12vh); width: 0.5vw; height: 43.2vh; background: #fff;}
.sec3 .site_wrap .site2 .line3 {position: absolute; left: 10vw; top: 50%; transform: translate(0vw, 31vh); width: 39.5vw; height: 0.5vw; background: #fff;}
.sec3 .site_wrap .site2 .line4 {position: absolute; left: 50%; top: 50%; transform: translate(-1vw, -12vh); width: 0.5vw; height: 43.5vh; background: #fff;}
.sec3 .site_wrap .site2 .line5 {position: absolute; right: 0%; top: 50%; transform: translate(0vw, -12vh); width: 51vw; height: 0.5vw; background: #fff;}

  /* site3 */
.sec3 .site_wrap .site3 .line1 {position: absolute; left: 0%; top: 50%; transform: translate(0vw, -12vh); width: 11.5vw; height: 0.5vw; background: #fff;}
.sec3 .site_wrap .site3 .line2 {position: absolute; left: 11vw; top: 50%; transform: translate(0vw, -35.5vh); width: 0.5vw; height: 24vh; background: #fff;}
.sec3 .site_wrap .site3 .line3 {position: absolute; left: 11vw; top: 50%; transform: translate(0vw, -35.5vh); width: 38vw; height: 0.5vw; background: #fff;}
.sec3 .site_wrap .site3 .line4 {position: absolute; left: 50%; top: 50%; transform: translate(-1vw, -35.5vh); width: 0.5vw; height: 24vh; background: #fff;}
.sec3 .site_wrap .site3 .line5 {position: absolute; right: 0%; top: 50%; transform: translate(0vw, -12vh); width: 51vw; height: 0.5vw; background: #fff;}


.sec3 .site_wrap .square {width: 100vw; height: 100vh; background-repeat: repeat; background-color: rgb(0, 168, 99); background-image: linear-gradient(to bottom, transparent, transparent 10%, #00a863 10%), linear-gradient(to right, #000, #000 10%, #00a862 10%); background-size: 10px 10px;}
.sec3 .site_wrap .square .circle {position: absolute; left: 0vw; top: 50%; transform: translate(0vw, -12vh); width: 1vw; height: 1vw; background: #fff; border-radius: 50%; z-index: 7300;}

/* section4 */
.sec4 {position: relative;}
.sec4 .square {position: relative; width: 100vw; height: 100vh; background-repeat: repeat; background-color: rgb(47, 139, 193); background-image: linear-gradient(to bottom, transparent, transparent 10%, #2f8bc1 10%), linear-gradient(to right, #000, #000 10%, #2f8bc1 10%); background-size: 10px 10px;}
.sec4 .square .circle_wrap .circle0 {position: absolute; width: 10vw; height: 10vw; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 50%; background: #fff;}
.sec4 .square .circle_wrap .circle1 {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 10vw; height: 10vw; box-sizing: border-box; border: 0.1vw dashed #fff; border-radius: 50%; z-index: 6100;}
.sec4 .square .circle_wrap .circle2 {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 10vw; height: 10vw; box-sizing: border-box; border: 0.1vw dotted #fff; border-radius: 50%; z-index: 6100;}
.sec4 .square .circle_wrap .circle3 {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 10vw; height: 10vw; box-sizing: border-box; border: 0.1vw solid #fff; border-radius: 50%; z-index: 6100;}

.sec4 .square .title_wrap {position: absolute; width: 40vw; height: 17vw; left: 50%; top: 50%; transform: translate(-50%,-55%); text-align: center; line-height: 8.7vw; font-size: 8.5vw; color: #243059; font-family: 'Malssami815'; z-index: 6200;}

/* ani_wrap */
.sec4 .ani_wrap {z-index: 6055;}
.sec4 .ani_wrap .ani {width: 100vw; height: 100vh; display: flex;  align-items: center; justify-content: center; flex-direction: row; background-repeat: repeat; background-color: rgb(47, 139, 193); background-image: linear-gradient(to bottom, transparent, transparent 10%, #2f8bc1 10%), linear-gradient(to right, #000, #000 10%, #2f8bc1 10%); background-size: 10px 10px;}
.sec4 .ani_wrap .ani .work_wrap {box-sizing: border-box;}
.sec4 .ani_wrap .ani .work_wrap .circle0 {display: inline-block; position: relative; width: 35vw; height: 35vw; border: 0.3vw solid #fff; border-radius: 50%; background: transparent; box-sizing: border-box; z-index: 6100;}
.sec4 .ani_wrap .ani .work_wrap .circle0 .work  {position: absolute; right: 2.2vw; top: 50%; transform: translate(0%, -50%); width: 30vw; height: 30vw; border-radius: 50%; background: #fff; box-sizing: border-box; z-index: 6150;}
.sec4 .ani_wrap .ani .work_wrap .circle0 .circle1 {position: absolute; right: -0.3vw; top: 50%; transform: translate(0%, -50%); width: 35vw; height: 35vw; box-sizing: border-box; border: 0.3vw dashed #fff; border-radius: 50%; z-index: 6100;}
.sec4 .ani_wrap .ani .work_wrap .circle0 .circle2 {position: absolute; right: 4.6vw; top: 50%; transform: translate(0%, -50%); width: 25vw; height: 25vw; box-sizing: border-box; border: 0.3vw dotted #fff; border-radius: 50%; z-index: 6100;}

.sec4 .ani_wrap .ani .des {display: inline-block; position: relative; width: 30vw; height: 22vh; font-size: 1.5vw; font-family: 'S-CoreDream-2ExtraLight'; color: #fff; text-align: right;}
.sec4 .ani_wrap .ani .des h2 {font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 2.7vw; position: absolute; right: 3vw; top: 0; color: #fff; z-index: 6075;}
.sec4 .ani_wrap .ani .des .line {position: absolute; width: 30vw; height: 0.3vw; left: 0vw; top: 50%; transform: translate(0, -50%); background: #fff; border-radius: 5px;}
.sec4 .ani_wrap .ani .des .circle {position: absolute; width: 1vw; height: 1vw; left: -0.5vw; top: 50%; transform: translate(0, -50%); background: #fff; border-radius: 50%;}
.sec4 .ani_wrap .ani .des .btn a {display: block; position: absolute; width: 12vw; height: 3vw; right: 3vw; bottom: 0; text-align: center; line-height: 3vw; border: 2px solid #fff; border-radius: 3px; font-size: 1.5vw; font-weight: bold; font-family: 'Poppins', sans-serif; color: #fff;}
.sec4 .ani_wrap .ani .des .btn a:hover {color: #2f8bc1; background: #fff;}

/* ani2, 4 */
.sec4 .ani_wrap .ani2 .des, .sec4 .ani_wrap .ani4 .des {text-align: left;}
.sec4 .ani_wrap .ani2 .des h2, .sec4 .ani_wrap .ani4 .des h2 {left: 3vw;}
.sec4 .ani_wrap .ani2 .des .line, .sec4 .ani_wrap .ani4 .des .line {right: 0vw;}
.sec4 .ani_wrap .ani2 .des .circle, .sec4 .ani_wrap .ani4 .des .circle {right: -0.5vw;}
.sec4 .ani_wrap .ani2 .des .btn a, .sec4 .ani_wrap .ani4 .des .btn a {left: 3vw;}

.sec4 .ani_wrap .ani1 {}
.sec4 .ani_wrap .ani2 {}
.sec4 .ani_wrap .ani3 {}
.sec4 .ani_wrap .ani4 {}



/* section5 */
#section5 {overflow: hidden;}
.sec5 {}
.sec5 .title_wrap {width: 100vw; height: 200vh; background: #724998; overflow: hidden;}
.sec5 .title_wrap .title {position: relative; width: 100vw; height: 100vh; background-repeat: repeat; background-color: #724998; background-image: linear-gradient(to bottom, transparent, transparent 10%, #724998 10%), linear-gradient(to right, #000, #000 10%, #724998 10%); background-size: 10px 10px;}
.sec5 .title_wrap .title .top {z-index: 5500;}
.sec5 .title_wrap .title .top .left {position: absolute; width: 50vw; height: 50vh; left: 0vw; top: 0vh; overflow: hidden; background-repeat: repeat; background-color: #724998; background-image: linear-gradient(to bottom, transparent, transparent 10%, #724998 10%), linear-gradient(to right, #000, #000 10%, #724998 10%); background-size: 10px 10px;}
.sec5 .title_wrap .title .top .left > span {position: absolute; right: 0%; bottom: 0%; transform: translate(0%,53%); font-size: 9vw; color: #fff; font-family: 'Malssami815';}
.sec5 .title_wrap .title .top .right {position: absolute; width: 50vw; height: 50vh; right: 0vw; top: 0vh; overflow: hidden; background-repeat: repeat; background-color: #724998; background-image: linear-gradient(to bottom, transparent, transparent 10%, #724998 10%), linear-gradient(to right, #000, #000 10%, #724998 10%); background-size: 10px 10px;}
.sec5 .title_wrap .title .top .right > span {position: absolute; left: 0%; bottom: 0%; transform: translate(0%,53%); font-size: 9vw; color: #fff; font-family: 'Malssami815';}
.sec5 .title_wrap .title .bottom {z-index: 5500;}
.sec5 .title_wrap .title .bottom .left {position: absolute; width: 50vw; height: 50vh; left: 0vw; bottom: 0vh; overflow: hidden; background-repeat: repeat; background-color: #724998; background-image: linear-gradient(to bottom, transparent, transparent 10%, #724998 10%), linear-gradient(to right, #000, #000 10%, #724998 10%); background-size: 10px 10px;}
.sec5 .title_wrap .title .bottom .left > span {position: absolute; right: 0%; top: 0%; transform: translate(0%,-47%); font-size: 9vw; color: #fff; font-family: 'Malssami815';}
.sec5 .title_wrap .title .bottom .right {position: absolute; width: 50vw; height: 50vh; right: 0vw; bottom: 0vh; overflow: hidden; background-repeat: repeat; background-color: #724998; background-image: linear-gradient(to bottom, transparent, transparent 10%, #724998 10%), linear-gradient(to right, #000, #000 10%, #724998 10%); background-size: 10px 10px;}
.sec5 .title_wrap .title .bottom .right > span {position: absolute; left: 0%; top: 0%; transform: translate(0%,-47%); font-size: 9vw; color: #fff; font-family: 'Malssami815';}
.sec5 .title_wrap .title .line {z-index: 5600;}
.sec5 .title_wrap .title .line .line1 {position: absolute; width: 100vw; height: 0.1vw; left: 0vw; top: 50%; transform: translate(0,-50%); background: #fff;}
.sec5 .title_wrap .title .line .line2 {position: absolute; width: 0.1vw; height: 100vh; left: 50%; top: 0vh; transform: translate(-50%,0); background: #fff;}

.sec5 .js_wrap {position: relative; width: 100vw; height: 400vh; overflow: hidden;}
.sec5 .js_wrap .line {width: 100vw; height: 100vh;}
.sec5 .js_wrap .line1 {position: absolute; width: 50vw; height: 0.1vw; left: 0vw; top: 24.9vh; background: #fff; z-index: 5500;}
.sec5 .js_wrap .line2 {position: absolute; width: 0.1vw; height: 100vh; left: 50vw; top: 0vh; background: #fff; z-index: 5500;}

.sec5 .js_wrap .title {position: absolute; width: 200vw; height: 25vh; left: 0vw; top: 0vh; overflow: hidden; color: #fff; font-family: 'Cafe24Ohsquare'; font-weight: 900; font-size: 5vw; background-repeat: repeat; background-color: #724998; background-image: linear-gradient(to bottom, transparent, transparent 10%, #724998 10%), linear-gradient(to right, #000, #000 10%, #724998 10%); background-size: 10px 10px; z-index: 5300;}
.sec5 .js_wrap .title .js {float: left; width: 50vw; height: 30vh; text-align: right; line-height: 27vh; padding-right: 3vw; box-sizing: border-box;}
.sec5 .js_wrap .title .js1 {}
.sec5 .js_wrap .title .js2 {}
.sec5 .js_wrap .title .js3 {}
.sec5 .js_wrap .title .js4 {}

.sec5 .js_wrap .game {position: absolute; width: 50vw; height: 300vh; left: 0vw; top: 30vh; background-repeat: repeat; background-color: #724998; background-image: linear-gradient(to bottom, transparent, transparent 10%, #724998 10%), linear-gradient(to right, #000, #000 10%, #724998 10%); background-size: 10px 10px; z-index: 5200;}
.sec5 .js_wrap .game .js {position: relative; width: 50vw; height: 75vh; }
.sec5 .js_wrap .game .js1 .js_work1 {position: absolute; width: 39vw; height: 53vh; left: 50%; top: 50%; transform: translate(-41%,-50%); background: url(../img/1.png) no-repeat; background-size: cover;}
.sec5 .js_wrap .game .js2 .js_work2 {position: absolute; width: 39vw; height: 53vh; left: 50%; top: 50%; transform: translate(-41%,-50%);}
.sec5 .js_wrap .game .js3 .js_work3 {position: absolute; width: 39vw; height: 53vh; left: 50%; top: 50%; transform: translate(-41%,-50%); background: #3c4043; text-align: center; line-height: 53vh; color: #fff; font-size: 2vw;}
.sec5 .js_wrap .game .js4 .js_work4 {position: absolute; width: 39vw; height: 53vh; left: 50%; top: 50%; transform: translate(-41%,-50%); background: #3c4043; text-align: center; line-height: 53vh; color: #fff; font-size: 2vw;}

.sec5 .js_wrap .code {position: absolute; width: 50vw; height: 400vh; left: 50vw; top: 0vh; background-repeat: repeat; background-color: #724998; background-image: linear-gradient(to bottom, transparent, transparent 10%, #724998 10%), linear-gradient(to right, #000, #000 10%, #724998 10%); background-size: 10px 10px; z-index: 5400;}
.sec5 .js_wrap .code .js {position: relative; width: 50vw; height: 100vh;}
.sec5 .js_wrap .code .js .btn a {display: inline-block; width: 10vw; height: 7vh; text-align: center; line-height: 2vw; border-radius: 3px; font-size: 1.3vw; font-weight: 500; font-family: 'Poppins', sans-serif; background: transparent; color: transparent;}
.sec5 .js_wrap .code .js .btn1 {position: absolute; left: 50%; top: 50%; transform: translate(-200%, -630%); z-index: 5600;}
.sec5 .js_wrap .code .js .btn2 {position: absolute; left: 50%; top: 50%; transform: translate(-100%, -630%); z-index: 5600;}
.sec5 .js_wrap .code .js .btn3 {position: absolute; left: 50%; top: 50%; transform: translate(0%, -630%); z-index: 5600;}
.sec5 .js_wrap .code .js .btn3 a {display: inline-block; width: 10vw; height: 7vh; text-align: center; line-height: 2vw; border-radius: 3px; font-size: 1.3vw; font-weight: 500; font-family: 'Poppins', sans-serif; background: transparent; color: transparent;}
.sec5 .js_wrap .code .js .des {display: none;}
.sec5 .js_wrap .code .js .des.active {display: block; position: absolute; width: 40vw; height: 71vh; left: 50%; top: 50%; transform: translate(-50%,-45%); background: #272822; z-index: 5500;}
.sec5 .js_wrap .code .js .des1::before {content: ''; position: absolute; width: 40vw; height: 4.9vw; left: 0vw; top: -4.9vw; background: url(../img/js_sec_html.png) no-repeat; background-size: cover;}
.sec5 .js_wrap .code .js .des2::before {content: ''; position: absolute; width: 40vw; height: 4.9vw; left: 0vw; top: -4.9vw; background: url(../img/js_sec_javascript.png) no-repeat; background-size: cover;}
.sec5 .js_wrap .code .js4 {}
.sec5 .js_wrap .code .js3 {}
.sec5 .js_wrap .code .js2 {background: transparent;}
.sec5 .js_wrap .code .js1 {background: transparent;}


.language-js::-webkit-scrollbar { width: 10px;} 
.language-js::-webkit-scrollbar-track {background-color: transparent;} 
.language-js::-webkit-scrollbar-thumb {border-radius: 5px; background: #808080; } 
.language-js::-webkit-scrollbar-thumb:hover { background: #404040; }
.language-js::-webkit-scrollbar-thumb:active { background: #808080; } 
.language-js::-webkit-scrollbar-button { display: none; } 
.language-html::-webkit-scrollbar { width: 10px;} 
.language-html::-webkit-scrollbar-track {background-color: transparent;} 
.language-html::-webkit-scrollbar-thumb {border-radius: 5px; background: #808080; } 
.language-html::-webkit-scrollbar-thumb:hover { background: #404040; }
.language-html::-webkit-scrollbar-thumb:active { background: #808080; } 
.language-html::-webkit-scrollbar-button { display: none; } 



/* section6 */
.sec6 {background-repeat: repeat; background-color: #ffb31a; background-image: linear-gradient(to bottom, transparent, transparent 10%, #ffb31a 10%), linear-gradient(to right, #000, #000 10%, #ffb31a 10%); background-size: 10px 10px;}
.sec6 .square_wrap {position: relative; width: 100vw; height: 100vh; z-index: 6100;}
.sec6 .square_wrap .square {position: absolute; width: 25vw; height: 100vh;}
.sec6 .square_wrap .square1 {position: absolute; left: 0vw; top: 0vh; background: #f68811; z-index: 6300;}
.sec6 .square_wrap .square2 {position: absolute; left: 25vw; top: 0vh; background: #f69811; z-index: 6350;}
.sec6 .square_wrap .square3 {position: absolute; left: 50vw; top: 0vh; background: #f68811; z-index: 6350;}
.sec6 .square_wrap .square4 {position: absolute; left: 75vw; top: 0vh; background: #f69811; z-index: 6300;}
.sec6 .square_wrap .text_wrap {width: 50vw;}
.sec6 .square_wrap .text_wrap .text {position: absolute; display: block; font-size: 7vw; line-height: 9vw; color: #fff; font-family: 'Cafe24Ohsquare'; z-index: 6400;}
.sec6 .square_wrap .text_wrap .text1 {position: absolute; width: 50vw; left: 28vw; top: 50%; transform: translate(0, -18vw);}
.sec6 .square_wrap .text_wrap .text2 {position: absolute; width: 50vw; left: 28vw; top: 50%; transform: translate(0, -9vw);}
.sec6 .square_wrap .text_wrap .text3 {position: absolute; width: 50vw; left: 28vw; top: 50%; transform: translate(0, -0vw);}
.sec6 .square_wrap .text_wrap .text4 {position: absolute; width: 50vw; left: 28vw; top: 50%; transform: translate(0, 9vw);}

.sec6 .contact {position: relative; width: 100vw; height: 100vh; background-repeat: repeat; background-color: #ffb31a; background-image: linear-gradient(to bottom, transparent, transparent 10%, #ffb31a 10%), linear-gradient(to right, #000, #000 10%, #ffb31a 10%); background-size: 10px 10px;}
.sec6 .contact .title {position: relative; width: 100vw; height: 100vh;}
.sec6 .contact .title > h1 {position: absolute; width: 30vw; height: 30vh; right: 50%; top: 50%; transform: translate(-10%, -65%); font-size: 9vw; color: #fff; font-family: 'Malssami815';}
.sec6 .contact .title .info_wrap {position: absolute; width: 30vw; right: 50%; top: 50%; transform: translate(-6%, 60%); line-height: 2.3vw; font-size: 1.3vw; font-weight: bold; color: #fff; font-family: 'Poppins', sans-serif;}
.sec6 .contact .contact_box {position: absolute; width: 40vw; height: 65vh; left: 50%; top: 50%; transform: translate(5%,-50%);}
.sec6 .contact .contact_box .email {width: 100%; height: 6.5vh; margin-bottom: 2vh; padding: 0 0 0 0.6vw; border: 0.2vw solid #fff; border-radius: 0.3vw; box-sizing: border-box; font-size: 1.3vw; font-weight: bold; background: #ffb31a;}
.sec6 .contact .contact_box .email::placeholder {color: #fff; font-family: 'LotteMartHappy';}
.sec6 .contact .contact_box .cont {width: 100%; height: 40vh; resize: vertical; margin-bottom: 2vh; padding: 0.5vw 0 0 0.6vw; border: 0.2vw solid #fff; border-radius: 0.3vw; box-sizing: border-box; font-size: 1.3vw; font-weight: bold; background: #ffb31a;}
.sec6 .contact .contact_box .cont::placeholder {color: #fff; font-family: 'LotteMartHappy';}
.sec6 .contact .contact_box .send {display: block; width: 100%; height: 6.5vh; margin: 0 auto 2vh; border: 0.2vw solid #fff; border-radius: 0.3vw; box-sizing: border-box; font-size: 1.3vw; font-weight: bold; font-family: 'LotteMartHappy'; color: #fff; background: #ffb31a;}




/* 미디어쿼리 */
@media (max-width: 1290px){
    .menu_wrap .menu .text a {width: 6vw;}
}

@media (max-width: 1024px){
    .menu_wrap .menu .text a {width: 6vw;}

}

@media (max-width: 960px){
    .menu_wrap .menu .text a {width: 7vw;}

}

@media (max-width: 768px){
    .menu_wrap .menu .text a {width: 8vw;}

}

@media (max-width: 600px){
    .menu_wrap .menu .text a {width: 10vw;}
}

@media (max-width: 480px){
    .menu_wrap .menu .text a {width: 12vw;}
}

@media (max-width: 320px){
    .menu_wrap .menu .text a {width: 14vw;}
}