@font-face { font-family: 'ghanachoco'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Malssami815'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Malssami815.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }

/*pageYOffset */
.pageYOffset {position: fixed; right: 10px; top: 10px; width: 40px; height: 40px; 
background: rgba(0,0,0,0.3); color: #fff; line-height: 40px; text-align: center; z-index: 1000;}

/* background: rgb(255, 170, 0); */
/* layout */
#header {height: 100vh;  background: #724998; overflow: hidden;}
#section1 {height: 50000px; background: rgb(230, 146, 131); overflow: hidden;}
#section2 {height: 9000px; background: #01baef; overflow: hidden;}
#section3 {height: 5000px; background: rgb(35, 171, 109); overflow: hidden;}
#section4 {height: 7000px; background: rgb(58, 139, 187); overflow: hidden;}
#section5 {height: 6000px; background: #724998; overflow: hidden;}


/* header */
/* #header {position: fixed; left: 20px; top: 20px; z-index: 10000;}
#header h1 {font-size: 34px; color: #fff; font-family: 'S-CoreDream-2ExtraLight';} */

/* header */
.header {position: relative; width: 100vw; height: 100vh; }
.header h1 {position: absolute; width: 100vw; height: 100vh; font-size: 7vw; text-align: center; line-height: 100vh; color: #fff; font-family: 'S-CoreDream-2ExtraLight';}


/* sec1 */
.sec1 {text-align: center;}
.sec1 .text-wrap {
  padding-top: 40vh;
  font-size: 8vw; font-family: 'Malssami815';
  color: #fff; 
}
/* .sec1 .text-wrap .text {width: 100vw; height: 100vh; text-align: center; line-height: 100vh; background: #E69283;} */
.sec1 .text-wrap .text1 {position: relative; display: inline-block; z-index: 60;}

/* text2 */
.sec1 .text-wrap .text2 { width: 56.8%;
  font-size: 10vw; position: relative; display: inline-block; z-index: 50;
}
.sec1 .text-wrap .text2 .circle1 {
  position: absolute; top: 3vw; left: 30.5vw;
  width: 1vw; height: 1vw; background: #fff; border-radius: 50%;
}
.sec1 .text-wrap .text2 .circle2 {
  position: absolute; top: 10vw; left: 36.25vw;
  width: 1vw; height: 1vw; background: #fff; border-radius: 50%;
  
}
.sec1 .text-wrap .text2 .line {
  position: absolute; left: 0; bottom: 0; 
  width: 100%; height: 8px; background: #fff;
  border-radius: 5px;
}
/* text3 */
.sec1 .text-wrap .text3 {
 position: relative; display: inline-block; z-index: 40;
}
.sec1 .text-wrap .text3 .circle1 {
  position: absolute; top: 2vw; left: 3vw;
  width: 1vw; height: 1vw; background: #fff; border-radius: 50%;
}
.sec1 .text-wrap .text3 .circle2 {
  position: absolute; top: 2.5vw; left: 8vw;
  width: 1vw; height: 1vw; background: #fff; border-radius: 50%;
}
.sec1 .text-wrap .text3 .circle3 {
  position: absolute; top: 1.8vw; left: 17vw;
  width: 1vw; height: 1vw; background: #fff; border-radius: 50%;
}
.sec1 .text-wrap .text3 .circle4 {
  position: absolute; top: 2vw; left: 22.2vw;
  width: 1vw; height: 1vw; background: #fff; border-radius: 50%;
}
.sec1 .text-wrap .text3 .line {
  position: absolute; left: 0; bottom: 0; 
  width: 100%; height: 8px; background: #fff;
  border-radius: 5px;
}
/* text4 */
.sec1 .text-wrap .text4 {
  position: relative; display: inline-block; z-index: 30;
}
.sec1 .text-wrap .text4 > span {display: inline-block;}
/* text5 */
.sec1 .text-wrap .text5 {
  font-size: 10vw; display: inline-block; background: #E69283;
  width: 75vw; height: 60vw; border-radius: 60% 43% 43% 60%/ 50% 50% 50% 50% ;
  text-align: center; line-height: 63vw; z-index: 20;
}
.sec1 .text-wrap .balloon::before {
  content: ''; 
  position: absolute; left: -10vw; top: 22vw;
  width: 0; height: 0; border-radius: 2vw;
  border-top: 9vw solid transparent;
  border-left: 18vw solid #E69283;
  border-bottom: 9vw solid transparent;
} 
.sec1 .text-wrap .balloon::after {
  content: ''; width: 1.3vw; height: 9vw;
  position: absolute; left: -1vw; top: 26.4vw;
  background: #fff; z-index: 10;
}
.sec1 .text-wrap .text5 .name {position: relative;}
.sec1 .text-wrap .text5 .line {
  position: absolute; left: 0; top: -1vw; 
  width: 100%; height: 8px; background: #fff;
  border-radius: 5px;
}
.sec1 .text-wrap .text5 .line2 {
  position: absolute; left: 0; bottom: 0; 
  width: 100%; height: 8px; background: #fff;
  border-radius: 5px;
}


/* section2 */
.sec2 .img {
  background-image : url(../img/sky.jpg);
  background-repeat : no-repeat;
  background-size : cover;
  width: 100%; height: 100vh; z-index: 5;
}
.sec2 .img .bg_square {width: 100vw; height: 100vh; background: #01baef;}

/* shape_common(except position) */
.sec2 { }
.sec2 .bg_wrap {height: 100vh;}
.sec2 .bg_wrap .banner {width: 105vw;}
.sec2 .bg_wrap .banner .shape {width: 105vw; height: 50vh;}
.sec2 .bg_wrap .banner .shape .square {width: 105vw; height: 50vh; background: #ff694f;}
.sec2 .bg_wrap .banner .shape .hole {width: 1vw; height: 1vw;border-radius: 50%; background: #fff;}
.sec2 .bg_wrap .banner .shape .hole::before {content: ''; width: 1.3vw; height: 3px;border-radius: 30%; background: #fff;}
.sec2 .bg_wrap .banner .shape .hole::after {content: ''; width: 1.3vw; height: 3px; border-radius: 30%; background: #fff;}
.sec2 .bg_wrap .banner .shape .string {width: 14vw; height: 3px; border-radius: 30%; background: #fff;}

.sec2 .bg_wrap .bal_name .balloon { 
  font-size: 1.6vw; display: inline-block; background: #E69283;
  width: 13vw; height: 7vw; border-radius: 60% 43% 43% 60%/ 50% 50% 50% 50% ;
  text-align: center; line-height: 7vw; position: relative;
}

.sec2 .bg_wrap .bal_name .balloon .shape .line {width: 3px; height: 2vw; position: absolute; left: 6.5vw; bottom: -1.7vw; background: #fff;}
.sec2 .bg_wrap .bal_name .balloon .shape .line::after  {content: ''; width: 3px; height: 2vw; position: absolute; left: -1.5vw; bottom: 0w; background: #fff; transform: rotate(-10deg);}
.sec2 .bg_wrap .bal_name .balloon .shape .line::before {content: ''; width: 3px; height: 2vw; position: absolute; right: -1.5vw; bottom: 0vw; background: #fff; transform: rotate(10deg);}
.sec2 .bg_wrap .bal_name .balloon .shape .box {position: absolute; width: 3vw; height: 0; left: 4vw; top: 8.5vw; border-top: 3vw solid #755555; border-left: 1vw solid transparent; border-right: 1vw solid transparent; border-radius: 10%;}

.sec2 .bg_wrap .bal_name .balloon .name {
  position: relative;
  font-family: 'Malssami815'; color: #fff; 
}
.sec2 .bg_wrap .bal_name .balloon .name::before {
  content: '';
  position: absolute; left: 0; top: -1.5px; 
  width: 100%; height: 1.5px; background: #fff;
  border-radius: 5px;
}
.sec2 .bg_wrap .bal_name .balloon .name::after {
  content: '';
  position: absolute; left: 0; bottom: 0; 
  width: 100%; height: 1.5px; background: #fff;
  border-radius: 5px;
}
/* top */
.sec2 .bg_wrap .top_wrap {z-index: 50;}
.sec2 .bg_wrap .top { position: relative; width: 130vw; height: 50vh;}
.sec2 .bg_wrap .top .banner {position: absolute; right: -50vw; top: 0;}
.sec2 .bg_wrap .top .banner .shape {position: relative;}
.sec2 .bg_wrap .top .banner .shape .square {position: absolute; left: 0; top: 0; background: #ff694f;}
.sec2 .bg_wrap .top .banner .shape .hole {position: absolute; left: 1vw; top: 24.5vh;}
.sec2 .bg_wrap .top .banner .shape .hole::before {position: absolute; left: -1vw; top: 0; }
.sec2 .bg_wrap .top .banner .shape .hole::after {position: absolute; left: -1vw; bottom: 0; }
.sec2 .bg_wrap .top .banner .shape .string {position: absolute; left: -14vw; top: 25.5vh;}

.sec2 .bg_wrap .top .bal_name {position: absolute; right: 69vw; top: 18vh;}
.sec2 .bg_wrap .top .bal_name .balloon {position: relative; border-radius: 43% 60% 60% 43%/ 50% 50% 50% 50% ;}
.sec2 .bg_wrap .top .bal_name .balloon::before {content: ''; position: absolute; width: 3vw; height: 1vw; left: 10.4vw; top: 1.5vw; background: #E69283; transform: skew(-30deg);}
.sec2 .bg_wrap .top .bal_name .balloon::after {content: ''; position: absolute; width: 3vw; height: 1vw; left: 10.4vw; bottom: 1.5vw; background: #E69283; transform: skew(30deg);}


/* bottom */
.sec2 .bg_wrap .bottom_wrap {z-index: 30;}
.sec2 .bg_wrap .bottom { position: relative; width: 130vw; height: 50vh;}
.sec2 .bg_wrap .bottom .banner {position: absolute; left: -50vw; top: 0;}
.sec2 .bg_wrap .bottom .banner .shape {position: relative;}
.sec2 .bg_wrap .bottom .banner .shape .square {position: absolute; right: 0; top: 0; background: #0fa6ed;}
.sec2 .bg_wrap .bottom .banner .shape .hole {position: absolute; right: 1vw; top: 24.5vh;}
.sec2 .bg_wrap .bottom .banner .shape .hole::before {position: absolute; right: -1vw; top: 0; }
.sec2 .bg_wrap .bottom .banner .shape .hole::after {position: absolute; right: -1vw; bottom: 0; }
.sec2 .bg_wrap .bottom .banner .shape .string {position: absolute; right: -14vw; top: 25.5vh}
.sec2 .bg_wrap .bottom .bal_name {position: absolute; left: 69vw; top: 18vh;}
.sec2 .bg_wrap .bottom .bal_name .balloon {position: relative; border-radius: 60% 43% 43% 60%/ 50% 50% 50% 50% ;}
.sec2 .bg_wrap .bottom .bal_name .balloon::before {content: ''; position: absolute; width: 3vw; height: 1vw; left: -0.4vw; top: 1.5vw; background: #E69283; transform: skew(30deg);}
.sec2 .bg_wrap .bottom .bal_name .balloon::after {content: ''; position: absolute; width: 3vw; height: 1vw; left: -0.4vw; bottom: 1.5vw; background: #E69283; transform: skew(-30deg);}


/* about */
.sec2 .about {font-size: 9vw; position: absolute; left: 10vw; top: 1vw; color: #fff; font-family: 'Malssami815'; z-index: 75;}

/* ability */
.sec2 .ability_wrap {position: relative; width: 100vw; height: 100vh; z-index: 70;}
.sec2 .ability_wrap .img_wrap {}
.sec2 .ability_wrap .img_wrap .circle {position: absolute; width: 26vw; height: 30vw; left: 38vw; top: 50%; transform: translateY(-50%); border-radius: 60%; background: #ffc219;}
.sec2 .ability_wrap .img_wrap .circle .img {position: absolute; width: 20vw; height: 33vw; left: 5vw; top: 1vh; background: url(../img/center.png) no-repeat; background-size: cover;}
.sec2 .ability_wrap .img_wrap .circle .img2 {position: absolute; width: 17vw; height: 38vw; left: 5vw; top: 3vh; background: url(../img/center2.png) no-repeat; background-size: cover;}

.sec2 .ability_wrap .balloon {
  font-size: 1.6vw; background: #E69283; 
  width: 7vw; height: 7.5vw; border-radius: 50% 50% 50% 50% / 45% 45% 60% 60%; 
  text-align: center; line-height: 7vw;
  display: block; position: relative; z-index: 90;
}

.sec2 .ability_wrap .balloon::after {content: ''; position: absolute; width: 3vw; height: 7.5vw; left: 2vw; top: 0; background: #fff; opacity: 0.2; border-radius:  50% 50% 50% 50% / 45% 45% 60% 60%;}
.sec2 .ability_wrap .balloon .shape .line {width: 3px; height: 3vw; position: absolute; left: 3.4vw; bottom: -2.7vw; background: #fff;}
.sec2 .ability_wrap .balloon .shape .line::after  {content: ''; width: 3px; height: 3vw; position: absolute; left: -1vw; bottom: 0w; background: #fff; transform: rotate(-10deg);}
.sec2 .ability_wrap .balloon .shape .line::before {content: ''; width: 3px; height: 3vw; position: absolute; right: -1vw; bottom: 0vw; background: #fff; transform: rotate(10deg);}
.sec2 .ability_wrap .balloon .shape .box {position: absolute; width: 2vw; height: 0; border-top: 3vw solid #755555; border-left: 1vw solid transparent; border-right: 1vw solid transparent; border-radius: 10%; left: 1.5vw; top: 9vw;}

.sec2 .ability_wrap .balloon1 {position: absolute; left: 10vw; bottom: 27vh;}
.sec2 .ability_wrap .balloon2 {position: absolute; left: 25vw; bottom: 14vh;}
.sec2 .ability_wrap .balloon3 {position: absolute; right: 25vw; bottom: 14vh;}
.sec2 .ability_wrap .balloon4 {position: absolute; right: 10vw; bottom: 27vh;}

.sec2 .ability_wrap .balloon .text_wrap {position: relative;}
.sec2 .ability_wrap .balloon .text_wrap .text {font-size: 1.5vw; font-weight: bold; color: #fff; font-family: 'S-CoreDream-2ExtraLight';}
.sec2 .ability_wrap .balloon .text_wrap .text em {display: inline-block; position: absolute; top: -4vw;}

.sec2 .ability_wrap .balloon .text_wrap2 {position: relative;}
.sec2 .ability_wrap .balloon .text_wrap2 .text {position: absolute; left: 1.5vw; top: -6.95vw; font-size: 1.5vw; font-weight: bold; color: #fff; font-family: 'S-CoreDream-2ExtraLight';}
.sec2 .ability_wrap .balloon .text_wrap2 .text em {display: inline-block; position: absolute; top: -4vw;}

/* section3 */
.sec3 {position: relative;}
.sec3 .site_wrap {width: 100vw; height: 100vh; position: relative;}
.sec3 .site_wrap .site {position: relative; width: 100vw; height: 100vh; color: #fff; font-family: 'S-CoreDream-2ExtraLight';}
.sec3 .site_wrap .site .title {position: absolute; left: 15vw; top: 30vh; font-size: 9vw; font-family: 'Malssami815'; color: #fff;}
.sec3 .site_wrap .site .title .line {position: absolute; left: 0; bottom: 0; width: 100%; height: 8px; background: #fff; border-radius: 5px;}
.sec3 .site_wrap .site .img {display: inline-block; position: absolute; left: 7vw; top: 50%; transform: translatey(-50%);}
.sec3 .site_wrap .site .img img {width: 35vw; height: 25vw;}
.sec3 .site_wrap .site .text_wrap {display: inline-block; position: relative; width: 86vw; height: 100vh; margin: 0 7vw;}
.sec3 .site_wrap .site .text_wrap .num {position: absolute; right: 0; font-size: 16vw; opacity: 0.1; }
.sec3 .site_wrap .site .text_wrap h2 {position: absolute; width: 50vw; right: 5vw; top: 9vw; font-size: 6vw; font-weight: bold; }
/* -webkit-text-fill-color: transparent; */
    /* -webkit-text-stroke: 1px #fff; */
.sec3 .site_wrap .site .text_wrap h3 {position: absolute; right: 5vw; top: 14vw; font-size: 2vw;}
.sec3 .site_wrap .site .text_wrap p {position: absolute; right: 5vw; top: 20vw; font-size: 1vw;}
.sec3 .site_wrap .site .btn {}
.sec3 .site_wrap .site .btn a {display: block; width: 8.5vw; height: 2vw; position: absolute; right: 5vw; bottom: 10vw; text-align: center; line-height: 2vw; border: 2px solid #fff; border-radius: 3px; font-size: 1vw; color: #fff;}
.sec3 .site_wrap .site1 {background: #111;}
.sec3 .site_wrap .site2 {background: #222;}
.sec3 .site_wrap .site3 {background: #333;}

/* line -position */
.sec3 .site_wrap .site .line_wrap {}
.sec3 .site_wrap .site .line_wrap .line {height: 3px; background: #fff; border-radius: 5px;}

.sec3 .site_wrap .site .line_wrap0 .line:nth-child(1) {position: absolute; left: 49.4vw; top: 57.5vh; width: 45.5vw; height: 8px;}
.sec3 .site_wrap .site .line_wrap0 .line:nth-child(2) {position: absolute; right: 5vw; top: 4.3vw; width: 50vw; transform: rotate(-90deg); transform-origin: right top;} 

.sec3 .site_wrap .site .line_wrap1 .line:nth-child(1) {position: absolute; left: 2vw; top: 4.3vw; width: 90vw;}
.sec3 .site_wrap .site .line_wrap1 .line:nth-child(2) {position: absolute; left: 2vw; top: 4.3vw; width: 90vw;}
.sec3 .site_wrap .site .line_wrap1 .line:nth-child(3) {position: absolute; left: 2vw; top: 4.3vw; width: 90vw;}

.sec3 .site_wrap .site .line_wrap2 .line:nth-child(1) {position: absolute; left: 2vw; top: 4.3vw; width: 90vw;}
.sec3 .site_wrap .site .line_wrap2 .line:nth-child(2) {position: absolute; left: 2vw; top: 4.3vw; width: 90vw;}
.sec3 .site_wrap .site .line_wrap2 .line:nth-child(3) {position: absolute; left: 2vw; top: 4.3vw; width: 90vw;}

.sec3 .site_wrap .site .line_wrap3 .line:nth-child(1) {position: absolute; left: 2vw; top: 4.3vw; width: 90vw;}
.sec3 .site_wrap .site .line_wrap3 .line:nth-child(2) {position: absolute; left: 2vw; top: 4.3vw; width: 90vw;}
.sec3 .site_wrap .site .line_wrap3 .line:nth-child(3) {position: absolute; left: 2vw; top: 4.3vw; width: 90vw;}


/* section4 */
.sec4 {position: relative;}
.sec4 .title_wrap {position: relative; width: 100vw; height: 100vh; font-size: 9vw; color: #fff; font-family: 'Malssami815'; z-index: 60;}
.sec4 .title_wrap .square {position: relative; width: 100vw; height: 50vh; background: #3a8bbb;}
.sec4 .title_wrap .square1 {}
.sec4 .title_wrap .square1 .tit {position: absolute; left: 23vw; bottom: 2vh;}
.sec4 .title_wrap .square1 .line {position: absolute; width: 100%; height: 5px; left: 0; bottom: 0; background: #fff; z-index: 65;}
.sec4 .title_wrap .square2 {}
.sec4 .title_wrap .square2 .tit {position: absolute; left: 35vw; top: 1vh;}
.sec4 .title_wrap .square2 .line {position: absolute; width: 100%; height: 5px; left: 0; top: 0; background: #fff; z-index: 65;}

.sec4 .title_wrap .totoro_wrap {position: absolute; left: 2vw; top: 33vh; z-index: 70;}
.sec4 .title_wrap .totoro_wrap .circle {width: 7vw; height: 8vw; border-radius: 50% 50% 50% 50% / 60% 60% 45% 45%; background: #666;}

/* ani_wrap */
.sec4 .ani_wrap {z-index: 55;}
.sec4 .ani_wrap .ani {width: 100vw; height: 100vh; display: flex;  align-items: center; justify-content: center; flex-direction: row;}
.sec4 .ani_wrap .ani .work_wrap {position: relative; width: 32vw; height: 32vw; margin-bottom: 8vh; border: 3px solid #fff; border-radius: 50%; background: transparent;}
.sec4 .ani_wrap .ani .work_wrap .work  {position: absolute; left: 1vw; top: 1vw; width: 30vw; height: 30vw; border-radius: 50%; background: #fff;}

.sec4 .ani_wrap .ani .des {position: relative; width: 25vw; height: 20vh; margin: 0 10vw 8vh 4vw; font-size: 1.5vw; font-family: 'S-CoreDream-2ExtraLight'; color: #fff; text-align: right;}
.sec4 .ani_wrap .ani .des .text {}
.sec4 .ani_wrap .ani .des .line {position: absolute; width: 29vw; height: 3px; left: -4vw; top: 10vh; background: #fff; border-radius: 5px;}
.sec4 .ani_wrap .ani .des .btn {}
.sec4 .ani_wrap .ani .des .btn a {display: block; position: absolute; width: 8.5vw; height: 2vw; right: 0; bottom: 0; border: 2px solid #fff; border-radius: 3px; text-align: center; font-size: 1vw; line-height: 2vw; font-family: 'S-CoreDream-2ExtraLight'; color: #fff; box-sizing: border-box;}

/* ani2, 4 */
.sec4 .ani_wrap .ani2 .work_wrap {margin-bottom: 8vh;}
.sec4 .ani_wrap .ani2 .des {margin: 0 4vw 8vh 10vw; text-align: left;}
.sec4 .ani_wrap .ani2 .des .line {position: absolute; left: 0; top: 10vh;}
.sec4 .ani_wrap .ani2 .des .btn a {position: absolute; left: 0; bottom: 0;}
.sec4 .ani_wrap .ani4 .work_wrap {margin-top: 8vh; margin-bottom: 0;}
.sec4 .ani_wrap .ani4 .des {margin: 8vh 10vw 0 4vw;}

.sec4 .ani_wrap .ani1 {}
.sec4 .ani_wrap .ani2 {}
.sec4 .ani_wrap .ani3 {}
.sec4 .ani_wrap .ani4 {}

/* section5 */
.sec5 {}
.sec5 .js_wrap .title_wrap {position: relative; width: 100vw; height: 100vh; font-size: 9vw; color: #fff; font-family: 'Malssami815'; background: #724998;}
.sec5 .js_wrap .title_wrap .square1 {position: absolute; width: 30vw; height: 70vh; right: 50%; top: 15vh; line-height: 70vh; text-align: right; background: #724998; z-index: 150;}
.sec5 .js_wrap .title_wrap .square2 {position: absolute; width: 30vw; height: 70vh; left: 50%; top: 15vh; line-height: 70vh; text-align: left; background: #724998; z-index: 150;}
.sec5 .js_wrap .title_wrap .paper {position: absolute; width: 70vw; height: 70vh; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; line-height: 70vh; -webkit-text-fill-color: transparent; -webkit-text-stroke: 3px rgb(255, 255, 255); background: rgb(114, 73, 152); z-index: 110;}

.sec5 .js_wrap {position: relative; height: 100vh; background: #222;}
.sec5 .js_wrap .js {width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; flex-direction: row;}

.sec5 .js_wrap .js .paper {position: absolute; width: 30vw; height: 70vh; border-radius: 5px; left: 15vw; top: 15vh;}

/* spring_wrap */
.sec5 .js_wrap .js .paper .spring_wrap {position: absolute; left: 1vw; top: -1.2vw; display: flex; align-items: center; justify-content: center; flex-direction: row;}
.sec5 .js_wrap .js .paper .spring_wrap .spring {position: relative; width: 2vw; height: 2.5vw; border: 3px solid #000; margin: 0 1.3vw; border-right: transparent; border-bottom: transparent; border-radius: 60%; background: transparent; z-index: 130;}
.sec5 .js_wrap .js .paper .spring_wrap .spring::after {content: ''; position: absolute; left: 0.3vw; bottom: -0.5vw; width: 1vw; height: 1vw; border-radius: 50%; background: #888; opacity: 0.3; z-index: 120;}

/* work_wrap */
.sec5 .js_wrap .js .work_wrap {position: relative; width: 30vw; height: 70vh; margin-right: 10vw;}
.sec5 .js_wrap .js .work_wrap .work {position: absolute; left: 0; top: 0; width: 30vw; height: 70vh; border-radius: 5px; background: #fff;}
.sec5 .js_wrap .js .work_wrap .work .paper{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-47%); width: 25vw; height: 60vh; background: #000; color: #fff;}

.sec5 .js_wrap .js .work_wrap .work0 {position: absolute; text-align: center; line-height: 70vh; font-size: 9vw; font-family: 'Malssami815'; -webkit-text-fill-color: transparent; -webkit-text-stroke: 3px #724998; background: #fff;}
.sec5 .js_wrap .js .work_wrap .work0 .text {position: absolute; width: 70vw; height: 70vh; left: 0; top: 0; transform: scaleX(0.429); transform-origin: left; z-index: 110;}

/* des_wrap */
.sec5 .js_wrap .js .des_wrap {position: relative; width: 30vw; height: 70vh;}
.sec5 .js_wrap .js .des_wrap .pencil {position: absolute; left: -2vw; top: -2vw; z-index: 120;}
.sec5 .js_wrap .js .des_wrap .pencil .sharp {width: 0; height: 0; 
  border-left: 1vw solid transparent; border-right: 1vw solid transparent; border-bottom: 2vw solid #fff;}
.sec5 .js_wrap .js .des_wrap .pencil .body {width: 2vw; height: 70vh; border-radius: 0 0 8px 8px; background: #b1faee;}
.sec5 .js_wrap .js .des_wrap .des {position: absolute; left: 0; top: 0; width: 30vw; height: 70vh; background: #fff;}


.sec5 .js_wrap .js .work_wrap .work0 {z-index: 110;}
.sec5 .js_wrap .js .work_wrap .work1 {z-index: 100;}
.sec5 .js_wrap .js .work_wrap .work2 {z-index: 90;}
.sec5 .js_wrap .js .work_wrap .work3 {z-index: 80;}
.sec5 .js_wrap .js .work_wrap .work4 {z-index: 70;}











/* mediaQuery */
@media (max-width: 1420px){
  .container {width: 100%;}
}




